<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About - </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/aos/aos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/animate.css/animate.min.css') }}">
</head>

<body>
  {% set main_url = '' %}

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="index.html">Islamic Life</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/aboutpage">About</a></li>
          <li><a href="/mosques">Mosques</a></li>
          <li><a href="/restaurants">Restaurants</a></li>
          <!-- <li><a href="trainers.html">Trainers</a></li> -->
          <li><a class="active" href="/events">Events</a></li>
          <li><a href="/prayertimes">Prayer Times</a></li>

          <li id="colour" class="dropdown"><a href="#"><span>Quran</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="Juz_1.html">Juz 1</a></li>
              <li><a href="Juz_2.html">Juz 2</a></li>
              <li><a href="Juz_3.html">Juz 3</a></li>
              <li><a href="Juz_4.html">Juz 4</a></li>
              <li><a href="Juz_5.html">Juz 5</a></li>
              <li><a href="Juz_6.html">Juz 6</a></li>
              <li><a href="Juz_7.html">Juz 7</a></li>
              <li><a href="Juz_8.html">Juz 8</a></li>
              <li><a href="Juz_9.html">Juz 9</a></li>
              <li><a href="Juz_10.html">Juz 10</a></li>
              <li><a href="Juz_11.html">Juz 11</a></li>
              <li><a href="Juz_12.html">Juz 12</a></li>
              <li><a href="Juz_13.html">Juz 13</a></li>
              <li><a href="Juz_14.html">Juz 14</a></li>
              <li><a href="Juz_15.html">Juz 15</a></li>
              <li><a href="Juz_16.html">Juz 16</a></li>
              <li><a href="Juz_17.html">Juz 17</a></li>
              <li><a href="Juz_18.html">Juz 18</a></li>
              <li><a href="Juz_19.html">Juz 19</a></li>
              <li><a href="Juz_20.html">Juz 20</a></li>
              <li><a href="Juz_21.html">Juz 21</a></li>
              <li><a href="Juz_22.html">Juz 22</a></li>
              <li><a href="Juz_23.html">Juz 23</a></li>
              <li><a href="Juz_24.html">Juz 24</a></li>
              <li><a href="Juz_25.html">Juz 25</a></li>
              <li><a href="Juz_26.html">Juz 26</a></li>
              <li><a href="Juz_27.html">Juz 27</a></li>
              <li><a href="Juz_28.html">Juz 28</a></li>
              <li><a href="Juz_29.html">Juz 29</a></li>
              <li><a href="Juz_30.html">Juz 30</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="courses.html" class="get-started-btn">Get Started</a>

    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>About Us</h2>
        <p>Welcome to Islamic Life, a digital hub created with the aim of fostering a stronger sense of community and connection among Muslims in Manchester. We are passionate about providing a platform that brings together the diverse and vibrant Muslim community in this great city.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>What We Offer</h3>
            <p class="fst-italic">
              At Islamic Life, our mission is simple yet powerful: to empower Muslims in Manchester by providing a central space to discover and connect with their local Islamic community. 
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Mosque Locator: We understand the importance of finding a place to worship conveniently. Our platform offers an easy-to-use tool to locate the nearest mosques in Manchester. Whether you're a local resident or just visiting, we've got you covered.</li>
              <li><i class="bi bi-check-circle"></i> Islamic Events: Stay informed about the latest Islamic events, lectures, seminars, and community gatherings happening in Manchester. Islamic Life is your go-to source for staying connected with the vibrant Islamic calendar in the city.</li>
              <li><i class="bi bi-check-circle"></i> Halal Dining: Manchester boasts a diverse range of halal restaurants, and we're here to help you explore them all. Discover delicious options for halal dining, from local favorites to hidden gems.</li>
              <li><i class="bi bi-check-circle"></i> Quranic Resources: For those seeking spiritual growth and understanding, we offer a complete copy of the Quran on our platform. You can access this holy text with ease, allowing you to engage with the sacred teachings of Islam.</li>

            </ul>
            <p>
              We invite you to become a part of our growing community at Islamic Life. Together, we can build a stronger, more connected Muslim community in Manchester. Explore, connect, and engage with the resources we've provided, and let's work towards a more vibrant and cohesive Islamic presence in this wonderful city.
            </p>
            <p>
              Thank you for choosing Islamic Life as your digital platform for all things Islamic in Manchester. We look forward to serving you and growing together as a community.
            </p>
            <p>
              For any inquiries or suggestions, please don't hesitate to contact us. We're here to support and serve the Manchester Muslim community in the best possible way.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Actives Users</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Mosques</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Islamic Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Reflections</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What are they saying</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">



            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Sarah A.</h3>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "I can't express how much Islamic Life has improved my experience as a Muslim living in Manchester. Finding nearby mosques, staying updated on Islamic events, and discovering new halal restaurants has never been easier. This platform has truly enhanced our community's unity. Thank you!"
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Ahmed R.</h3>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "I recently moved to Manchester and didn't know anyone in the local Muslim community. Islamic Life quickly became my go-to resource. I've met wonderful people through the events section and have tried some amazing halal food recommendations. I'm grateful for the connections I've made through this website."
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Amina H.</h3>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "As a mother, I often look for places to take my children where they can learn and connect with their faith. Islamic Life has made it incredibly easy to discover family-friendly Islamic events in Manchester. The Quranic resources are also a great tool for educating my kids about our religion. Thank you for creating this platform."
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Mohammad S.</h3>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "I've been using Islamic Life for a while now, and it has become an indispensable part of my daily life. Whether it's finding a mosque, locating the latest Islamic lecture, or trying out new halal restaurants with friends, this platform has streamlined everything. It's a fantastic resource for the Muslim community."
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Islamic Life</h3>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Get Quran Reminders</h4>
            <p>Add your Discord username to receive hourly Quran reminders</p>
            <form id="discordForm" onsubmit="subscribeToDiscord(event)">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <input type="submit" value="Subscribe">
            </form>
          </div>
        
        

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Islamic Life</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->

  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>